html {
  background: darkolivegreen;
}
body {
  font-family: verdana, arial, helvetica;
  max-width: 800px;
  margin: auto;
  background: beige;
  padding: 20px;
}

p {
  margin: 6px auto;
  padding: 0 30px;
  text-align: justify;
}

/* CSS for Top Title Bar of Resume */
#resume_head {
  background: darkkhaki;
  padding: 10px;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;

  div {
    display: flex;
    align-items: flex-end;
  }

  h1 {
    margin-top: 6px;
    margin-bottom: 0;
    margin-left: 0;
    margin-right:0;
  }

  a {
    margin: 0 12px 2px 12px;
  }

  p {
    margin: 0 12px 4px 12px;
    font-size: 125%;
    font-weight: 120%;
    font-style: italic;
  }
}

.main_section_heading {
  margin: 18px auto 6px auto;
}

/* CSS for Professional Experience Section */
.job_title {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  font-weight: bold;
  margin-top: 12px;
  padding: 0 20px 0 12px;
}

div[class="job_title"] ~ ul {
  margin-top: 0;
}

/* CSS for Technical Skills */
.skill_name {
  font-weight: bold;
}

/* CSS for Education Section */
.no_list_style {
  list-style-type: none;
  padding-left: 0;
  margin-left: -18px;
}

h2 {
  margin: auto 12px;
}

h2 + ul {
  margin: 8px auto 16px;
}

h3 {
  font-size: 1.25em;
  font-weight: normal;
  font-style: italic;
  margin: 8px auto 6px 30px;
  padding-bottom: 0;
}

h3 + p {
  margin: auto 24px;
}

details:hover {
  content: "";
  cursor: pointer;
}

li {
  list-style-type: disc;
}
